<mat-toolbar class="app-toolbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  TaskBreaker - {{ selectedList.name }}
</mat-toolbar>
<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav mode="side" #sidenav>
    <mat-nav-list>
      <h3 mat-subheader>Lists</h3>
      <!-- TODO: extract component -->
      <mat-list-item (click)="selectList(list.id)" *ngFor="let list of lists">
        <mat-icon mat-list-icon>label</mat-icon>
        <h4 mat-line>{{list.name}}</h4>
        <button (click)="deleteList(list.id); $event.preventDefault()" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>

      <!-- TODO: extract component -->
      <form (submit)="createList(input.value); input.value = ''">
        <mat-form-field class="app-add-list-input">
          <input #input matInput placeholder="Add list">
          <button type="button" mat-icon-button matSuffix>
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </form>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-task-list></app-task-list>
  </mat-sidenav-content>

</mat-sidenav-container>
