.app-searchbar {
  display: flex;
  align-items: center;
  padding: 0;
  height: 44px;
  width: 600px;
  margin: 8px;
  display: flex;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  &:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
  input,
  input:focus {
    border: none;
    outline: none;
  }
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 16px;
}

.app-task-separator {
  font-weight: bold;
  color: grey;
  margin: 16px;
  font-family: Roboto;
}

.app-searchbar-form {
  display: flex;
  justify-content: center;
}

.app-searchbar-input {
  background: transparent;
  border: none;
  margin-left: 16px;
  width: 100%;
  font: 16px arial, sans-serif;
  line-height: 34px;
}

.app-task-list {
  margin: 8px;
  border-radius: 2px;
  padding: 0;
}

hr {
  margin: 0;
}
