<!-- TODO: this component is actually a "Home" component -->
<div class="container">
  <!-- TODO: extract component and find another name than searchbar -->
  <form #form class="app-searchbar-form" (submit)="submit()">
    <mat-card class="app-searchbar">
      <input #taskInput (submit)="submit()" (onkeydown)="onkeypress($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"
        class="app-searchbar-input" matInput placeholder="New Task">
        <button color="accent" type="button" (click)="submit()" mat-icon-button><mat-icon>add</mat-icon></button>
    </mat-card>
  </form>

  <div class="app-task-separator">
    Pending
  </div>
  <!-- TODO: extract component, this is actually a task-list-component -->
  <mat-card class="app-task-list mat-elevation-z2">
    <div (click)="selectTask(i)" *ngFor="let task of pendingTasks; let i = index; let last = last;">
      <app-task (toggle)="toggleTask(task.id)" [selected]="i === selectedIndex && !taskInputFocused" [task]="task"></app-task>
    </div>
  </mat-card>

  <div class="app-task-separator">
    Cancelled & Done
  </div>

  <mat-card class="app-task-list mat-elevation-z2">
    <div (click)="selectTask(i + pendingTasks.length)" *ngFor="let task of nonPendingTasks; let i = index; let last = last;">
      <app-task (toggle)="toggleTask(task.id)" [selected]="i + pendingTasks.length === selectedIndex && !taskInputFocused" [task]="task"></app-task>
    </div>
  </mat-card>
</div>
