/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-orange, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
