<div [ngClass]="getStatus()" class="app-task">
  <button (click)="emitToggle()" mat-icon-button><mat-icon class="app-task-icon">{{ getIcon() }}</mat-icon></button>
  <div class="app-task-content">{{ task.content }}</div>
  <i class="app-task-date">&nbsp;{{ task.updatedAt | timeAgo }}</i>
</div>
