.app-task {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 4px 8px;
  font-weight: lighter;
}

.app-task-selected {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  font-weight: bold;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: normal;
}

.app-task-date {
  margin-left: auto;
  margin-right: 8px;
  color: grey;
  font-size: 0.73em;
}

.app-task-cancelled {
  .app-task-icon {
    color: red;
  }
}

.app-task-pending {}

.app-task-completed {
  .app-task-icon {
    color: green;
  }
}

.app-task-content {
  margin-left: 8px;
}
